[user]
	name = Nathan Benes
	email = nathan.benes@gmail.com
[core]
	editor = vim
[mergetool "diffmerge"]
	cmd = diffmerge --merge --result=$MERGED $LOCAL $BASE $REMOTE
	trustExistCode = false
[mergetool]
	keepBackup = false
[diff "diffmerge"]
[difftool "diffmerge"]
	cmd = diffmerge $LOCAL $REMOTE
[diff]
	tool = diffmerge
[difftool]
	prompt = false
[alias]
	undeployed = log --pretty=format:\"%h %an: %s\" --abbrev-commit  production/master..master
[heroku]
	account = work
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
